#sidebar-menu{
	height: 85%;
	width: 15%;
	min-width: 150px;
	opacity: 0.9;
	border-radius: 5px 0;
}

.logo{
	width: 100%;
}
.is-right{
	float: right;
	margin-right: 40px !!important;
}
.is-left{
	float: right;
	margin-right: 40px !!important;
}
.gradient-ribbon{
	background-image: -webkit-gradient(
		linear,
		right top,
		right bottom,
		color-stop(0, #7D7C7D),
		color-stop(0.8, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #7D7C7D 0%, #FFFFFF 80%);
	background-image: -moz-linear-gradient(bottom, #7D7C7D 0%, #FFFFFF 80%);
	background-image: -webkit-linear-gradient(bottom, #7D7C7D 0%, #FFFFFF 80%);
	background-image: -ms-linear-gradient(bottom, #7D7C7D 0%, #FFFFFF 80%);
	background-image: linear-gradient(to bottom, #7D7C7D 0%, #FFFFFF 80%);
	height: 10em;
}

.banner{
	width: 100%;
}
.banner-1, .banner-2, .banner-3{
	height: 4px;
	width: 100%;
}
.banner-1{
	background-color: #7500CA;
}
.banner-2{
	background-color: #00B33E;
}
.banner-3{
	background-color: #D61A2D;
}
.centered-text p{
	margin: 1em 12em;
}

.splash-container{
	left: 15%;
	width: 85%;
}

#content{
	left: 15%;
	width: 85%;
}

.team-pic{
	width: 15%;
}
.about-menu li, .get-involved-menu li{
	font-size: 1.5em;
	width: 180px;
}
.get-involved-nav{
	width: 30%;
	margin: 1em 0 0 2em;
	letter-spacing: 0em;
	background-color: lightgray;
}
.get-involved-nav.pure-button-active{
	background-color: gray;
}
.about-content, .get-involved-content{
	display: none;
}
.pure-form input.paypal-submit-image{
	border: none;
	width: 160px;
	height: 47px;
}
h2 a{
	color: #34495e;
	text-decoration: none;
}